section#bio
    h1.section-heading BIO
    p.section-intro Allow me to introduce myself

    .grid__row.bio-row-1
        .grid__col--7.greeting
            h1.bio-section-heading Greetings from Ontario!
            p A little about myself?  Sure.
            p My name is AJ! I love solving puzzles, and what better place to find them than in a large codebase?
            p The past 5 years as a small business owner has ingrained in me a will do attitude. If it needs to be done, I will make it happen. To that end, I'm always learning. It is my hobby and second passion.
            p In my down time you'll find me at the crag doing some lead climbing or camping with my 2 favorite ladies, Genevieve and my La Patrie guitar. We love to get out into nature to see what we can find.
            p I have 2 wonderful and energetic boys that keep me on my toes. They are the reason I've made the leap to become a full time dev and am looking for work/life balance.
        .grid__col--5.magic
            h3.bio-section-heading Here's where the magic happens!
            img(src='assets/img/work-station.jpg', alt='My Work Station')

    .grid__row
        //.grid__col--1.black
        //.grid__col--1.medium-grey
        //.grid__col--1.light-grey

        h1.bio-section-heading.bio-section-heading-sub Skills
        //.grid__col--1.light-grey
        //.grid__col--1.medium-grey
        //.grid__col--1.black

    .grid__row.skill-row
        .grid__col--2.skill-col
            h3.bio-section-heading.skill-heading-js JavaScript
            ul
                li NodeJS
                li Express
                li RestAPIs
                li Progressive Web Apps
                li Angular
                li React
                li MongoDB
                li Mongoose
                li SQL
                li Hibernate
                li Mocha/Chai Testing

        .grid__col--2.skill-col
            h3.bio-section-heading.skill-heading-java Java
            ul
                li Spring MVC and Boot
                li Hibernate
                li Spark
                li Thymeleaf
                li Junit Testing

        .grid__col--2.skill-col
            h3.bio-section-heading.skill-heading-python Python
            ul
                li Flask
                li Data Normalization
                li Unit/Doc Testing


        .grid__col--2.skill-col
            h3.bio-section-heading.skill-heading-fe Front End
            ul
                li HTML5
                li CSS3
                li jQuery
                li Chrome Dev Tools
                li JavaSCript Web APIs

        .grid__col--2.skill-col
            h3.bio-section-heading.skill-heading-os OS
            ul
                li Windows
                li MacOS
                li Linux CLI/GUI (Ubunto and Debiam)

    .grid__row
        //.grid__col--1.black
        //.grid__col--1.medium-grey
        //.grid__col--1.light-grey
        h1.bio-section-heading.bio-section-heading-sub Cool Certifications
        //.grid__col--1.light-grey
        //.grid__col--1.medium-grey
        //.grid__col--1.black

    .grid__row
        .grid__col--4.cert-col
            h3.bio-section-heading Full Stack JavaScript Techdegree
            p Treehouse - June 2017
        .grid__col--4.cert-col
            h3.bio-section-heading Python Techdegree
            p Treehouse - In Progress
        .grid__col--4.cert-col
            h3.bio-section-heading Wilderness First Responder
            p The Highlands Wilderness Training Center - Aug 2013

    .grid__row
        .grid__col--4.cert-col
            h3.bio-section-heading Ocularis 5 Certification
            p OnSSI - March 2017
        .grid__col--4.cert-col
            h3.bio-section-heading Keyscan Factory Certification
            p Treehouse - July 2012
        .grid__col--4.cert-col
            h3.bio-section-heading Protector.net Factory Certification
            p Treehouse - Aug 2013

    .grid__row
        .grid__col--4.cert-col
            h3.bio-section-heading ICT Protege WXpert Level 2
            p Integrated Control Technologies - Feb 2015
        .grid__col--4.cert-col
            h3.bio-section-heading ICT Protege GX Installer
            p Integrated Control Technologies  - July 2015
        .grid__col--4.cert-col
            h3.bio-section-heading Certificate of Profficiancy in Amateur Radio
            p Industry Canada - June 23, 2014
            p Basic with Honours - Call sign VE3IAJ
      
