section#contact
  h1.section-heading CONTACT 
  p.section-intro Hit me up anytime
    a(href='mailto:ajlongstreet@gmail.com?Subject=I%20saw%20your%20portfolio%20and%20wanted%20to%20reach%20out', target='_top')  ajlongstreet@gmail.com
  p Follow or connect with me on social media
      .social.contact-icon-container
            a(href='https://www.instagram.com/misterajl/')
                i.icon.ion-social-instagram.icon-1
            a(href='https://twitter.com/AJLongstreet')
                i.icon.ion-social-twitter.icon-2
            a(href='https://www.facebook.com/ajlongstreet')
                i.icon.ion-social-facebook.icon-3
            a(href='https://www.linkedin.com/in/aj-longstreet-650b1980/')
                i.icon.ion-social-linkedin.icon-4