.footer-basic
    footer
        .social
            a(href='https://www.instagram.com/misterajl/')
                i.icon.ion-social-instagram
            a(href='https://twitter.com/AJLongstreet')
                i.icon.ion-social-twitter
            a(href='https://www.facebook.com/ajlongstreet')
                i.icon.ion-social-facebook
            a(href='https://www.linkedin.com/in/aj-longstreet-650b1980/')
                i.icon.ion-social-linkedin
        p.copyright AJ Longstreet © 2017
script(src='../assets/js/jquery.min.js')
script(src='../assets/bootstrap/js/bootstrap.min.js')