head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title portfolio
    link(rel='stylesheet', href='../assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='../assets/css/normalize.css')
    link(rel='stylesheet', href='../assets/fonts/ionicons.min.css')
    link(rel='stylesheet', href='../assets/css/Footer-Basic.css')
    link(rel='stylesheet', href='../assets/css/Navigation-Clean1.css')
    link(rel='stylesheet', href='../assets/css/Projects-Clean.css')
    link(rel='stylesheet', href='../assets/css/featherlight.min.css')
    link(rel='stylesheet', href='../assets/css/my-carousel.css')
    link(rel='stylesheet', href='../assets/css/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Merienda', rel='stylesheet')