nav.navBar
    ul
        li
            a(href='../../../../library') Home
        li
            a(href='../../../../books/all') Books
        li
            a(href='../../../../patrons/all') Patrons
        li
            a(href='../../../../loans/all') Loans