section#projects
  h1.section-heading PROJECTS
  p.section-intro Here's a few things I built recently
  .proj-wrapper
  
      .individual-proj-wrapper
          .proj.proj-1
              #quote-box
                  p.quote You can do anything but not everything
                  p.source
                      | David Allen
                      span.citation Making It All Work
                      span.year 2009
              span.overlay
                  h2.proj-title Cool Quotes
                  p A random quote generator programmed with a timed auto update feature and duplciation prevention
                  a(href='http://www.ajlongstreet.com:5000/#!/' target="_blank") View Project
                  a(href='https://github.com/MisterAJ/AngularJS-Recipe-Site' target="_blank") Source Code
                  
      .individual-proj-wrapper
          .proj.proj-2
              img(src='assets/img/food.jpeg', alt='recipe')
              span.overlay
                  h2.proj-title Recipe App
                  p AngularJS app with data persistance for creating, updating and saving all your favorite recipes
                  a(href='http://www.ajlongstreet.com:5000/#!/' target="_blank") View Project
                  a(href='https://github.com/MisterAJ/AngularJS-Recipe-Site' target="_blank") Source Code
                  
      .individual-proj-wrapper
          .proj.proj-3
              img(src='assets/img/books.jpg', alt='Loft')
              span.overlay
                  h2.proj-title Library Manager
                  p Full Satck app for tracking and managing the details of the inventory of your libaray
                  a(href='./library' target="_blank") View Project
                  a(href='https://github.com/MisterAJ/Express-Sequelize-Library-Manager' target="_blank") Source Code
