doctype html
html
    link(rel='stylesheet', href='../assets/css/quoteStyles.css')
    include includes/_head
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    body
        include includes/_new-nav
        header.header.projects-clean
            .container.header-container
                
                .intro
                    img.img-responsive.profile_pic(src='assets/img/profile_pic.jpg')
                    h1 A.J. Longstreet
                    p Full Stack Developer
                    .header-logo-container
                      .header-logo.header-logo-1
                      .header-logo.header-logo-2
                      .header-logo.header-logo-3
                      
            .container.messageContainer
                #title
                    p Terminal
                #window
                    .typedMessage
                    a.btn.btn-success.btn-terminal(href="#contact") Get in Touch
                    
        include includes/_projs
        include includes/_bio
        include includes/_contact
        
        script(src='assets/js/jquery.min.js')
        script(src='assets/js/featherlight.min.js')
        script(src='assets/js/typed.js')
        script(src='../assets/js/quotes.js')
        script(src='assets/js/mainPage.js')


        
